
{{!-- <h2>Login</h2>

<form action="/auth/login" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Login</button>

  <p class="account-message">
    Don't have an account yet?
    <a href="/auth/signup">Signup</a>
  </p>
</form> --}}



{{!-- <head>
    <meta charset=“utf-8”>
    <meta name=“viewport” content=“width=device-width, initial-scale=1, shrink-to-fit=no”>
    <meta name=“description” content=“”>
    <meta name=“author” content=“Mark Otto, Jacob Thornton, and Bootstrap contributors”>
    <meta name=“generator” content=“Jekyll v4.0.1”>
    <title>Signin Template · Bootstrap</title>
    <link rel=“canonical” href=“https://getbootstrap.com/docs/4.5/examples/sign-in/”>
    <!-- Bootstrap core CSS -->
<link href=“../assets/dist/css/bootstrap.css” rel=“stylesheet”> --}}
    {{!-- <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style> --}}
    <!-- Custom styles for this template -->
    {{!-- <link href=“signin.css” rel=“stylesheet”> --}}
  {{!-- </head>
  <body class=“text-center”> --}}
<div class="login">
<form class="form-signin" action="/auth/login" method="POST" id="form-container">
  <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
  <label class="sr-only" for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Your username">
  <br><br>
  <label class="sr-only" for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>
  <button class="btn btn-lg btn-primary btn-block">Login</button>
  <p class="account-message">
    Don’t have an account yet?
    <a href="/auth/signup">Signup</a>
  </p>
</form>
</div>