<h1>{{title}}</h1>
<p>Welcome {{#if user}}{{user.username}}{{/if}}</p>

{{#if user}}
<a href="/auth/logout">Logout</a>
<a href="/wines">My Cellar</a>
{{!-- <a href="/private">Private</a> --}}
{{else}}
<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
{{/if}}