body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.winemap { 
  position: absolute; 
  top: 0; bottom: 0; 
  width: 100%; 
  height: 600px;
}

.wine-container {
  padding-top: 10px;
display: flex;
justify-content: center;
align-items: center;
}




//-------------------


.login {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}