<h1>New Wine</h1>

<form action="add-wines-form" method="post" enctype="multipart/form-data">
  <label for="">Winery</label>
  <input type="text" name="winery"></br></br>

  <label for="">Name:</label>
  <input type="text" name="name"></br></br>

  <label for="">Type:</label>
  {{!-- <input type="text" name="type"></br></br> --}}

  <select name="type">
    {{#each types}}
    <option value={{this}}>{{this}}</option>
    {{/each }}
  </select>


  <label for="">Year:</label>
  <input type="number" name="year"></br></br>
  

  <label for="">Grape:</label>
  {{!-- <input type="text" name="grape"></br></br> --}}
  <div>
    <div class="checkbox">
       <label><input name="grape" type="checkbox" value="grape1"> Grape 1 </label> 
    </div>
    <div class="checkbox">
       <label><input name="grape" type="checkbox" value="grape2"> Grape 2 </label> 
    </div>
  </div>

  <label for="">Country:</label>
  <input type="text" name="country"></br></br>

  <label for="">Region:</label>
  <input type="text" name="region"></br></br>

  <label>Photo</label>
  <input type="file" name="photo"></br></br>

  </br></br></br></br>


  <button type="submit">ADD</button>
</form>
</br></br>
<a href="/wines">back</a>