<div class="container">


  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/images/newwine.png" alt="" width="72" height="72">
    <h2>New Wine</h2>
  </div>

  <form action="add-wines-form" method="post" enctype="multipart/form-data">


        <div class="row">

              <div class="col-md-6 mb-3">
                <label for="winery">Winery</label>
                <input type="text" class="form-control" name="winery"></br></br>
              </div>


              <div class="col-md-6 mb-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name"></br></br>
              </div>

        </div>

        <div class="row">

              <div class="col-md-6 mb-3">
                <label for="country">Country</label>
                <input type="text" class="form-control" name="country"></br></br>
              </div>


              <div class="col-md-6 mb-3">
                <label for="region">Region</label>
                <input type="text" class="form-control" name="region"></br></br>
              </div>

        </div>


        <div class="row">

          <div class="col-md-4 mb-3">
            <label for="type">Type</label>
              <select class="custom-select d-block w-100" name="type">
                 {{#each types}}
              <option value={{this}}>{{this}}</option>
                  {{/each }}
              </select>
          </div>


            <div>
                <label for="state">Grape</label>
                    <div class="custom-control custom-checkbox checkbox">
                    <label><input name="grape" type="checkbox" value="grape1"> Grape 1 </label> 
                    <label><input name="grape" type="checkbox" value="grape2"> Grape 2 </label>
                    </div>
            </div>

        </div>

        <div class="row">

                  <div class="col-md-6 mb-3">
                     <label for="year">Year</label>
                     <input type="number" class="form-control" name="year"></br></br>
                  </div>
                  
                  <div class="col-md-6 mb-3">
                      <label for="photo">Photo</label>
                      <input type="file" name="photo"></br></br>
                  </div>

        </div>

  </br></br></br></br>

      <p>
        <button class="btn btn-primary my-2" type="submit">ADD</button>
        <a href="/wines" class="btn btn-secondary my-2">back</a>
      </p>

</form>


{{!-- <a href="/wines">back</a> --}}


</div>